* {
    margin: 3px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 5px;
}

.sidebar {
    background-color: rgb(200, 180, 80);
    grid-column: 1 / 2;
    height: 100vh;
    width: 100%;
    padding-top: 50px;

    /*Styling for CSS Grid*/
    text-align: center;
    display: grid;
    grid-template-rows: 150px repeat(4, 70px) 100px 70px;
    
}

.guide {
    text-shadow: 1px 1px 1px whitesmoke, 2px 2px 1px whitesmoke;
    font-weight: bold;
    font-size: 1rem;
}

.main-contents {
    background-color: rgb(190, 120, 40);
    grid-column: 2 / 3;
    height: 100%;
    width: 100%;
    
    

    /*Styling for CSS Grid*/
    text-align: left;
    display: grid;
    grid-template-rows: 200px 500px 100px;
    
}

header {
    color:darkolivegreen;
    font-size: x-large;
    text-shadow: 1px 1px 1px white, 2px 2px 1px white;;
}

input {
    text-align: end;
}


.header {
    padding: 50px 0px 0px 20px;
    font-weight: bold;
   

    /*Styling for CS*/
    display: grid;
    grid-template-columns: 400px 20px 300px;
  
}

.search {
    width: 100%;
    height: 20px;
}

.search-icon {
    color:darkolivegreen
}

.profile-contents {
    background-color: rgba(164, 62, 62, 0.793);
    grid-column: 3 / 4;
    height: 100vh;
    width: 100%;
}

.task {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 2fr);
    gap: 8px;
    margin-top: 10px;
    padding: 15px;
    border-top: 5px solid white;
    border-width: 100%;
   
   


    /*Styling Font*/
    font-weight: bold;
    font-size: 1.3rem;
    color: rgb(233, 227, 227);

}


.task1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}


.daily {
    border: 5px bisque solid;
    border-radius: 30%;
    background-color: beige;
    text-align: center;

    height: 275px;

}

h2 {
    text-align: center;
    tex
}

h3 {
    color: cadetblue;
    text-decoration: underline cadetblue;
    padding: 10px;
    font-size: medium;
}